/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.cdk-drag-placeholder {
  opacity: 0; /* O item original fica invisível quando você começa a arrastar */
}

.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  border-radius: 12px;
  background: #1e293b; /* Cor do slate-800 */
}